<!DOCTYPE html>
<html>
<head>
	<script type="text/javascript" src="ajax-login.js"></script>
</head>

<body>
	<form id="search" action="/search" method="get">
		<label for="search">Search</label>
		<input id="searchQuery" type="text" name="searchQuery">
		<input type="submit" value="Search" onfocus="onclick">
	</form>
	<form id="randomPage" action="https://en.wikipedia.org/wiki/Special:Random" method="get">
		<label for="randomPage">Get Random Page</label>
		<input type="submit" value="Get" onfocus="onclick">
	</form>
</body>
</html>